body {
    margin: 0;
    padding: 0;
}

body {
    --white: white;
    --border-color: rgba(83, 83, 110, 0.25);
    --caret-color: rgb(74, 114, 245);
    --header-bar-color: #f8f8f8;
    --background-color: #f8f8f8;
    --border-bottom-color: rgb(220, 220, 223);
    --secondary-button-color: rgb(255, 255, 255);
    --black: black;
    color: black
}

@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --white: rgb(60, 60, 62);
        --border-color: rgba(83, 83, 110, 0.25);
        --caret-color: rgb(102, 138, 255);
        --header-bar-color: rgba(42,46,49,255);
        --background-color: rgb(32, 32, 36);
        --border-bottom-color: rgba(83, 83, 110, 0.25);
        --secondary-button-color: rgb(60, 60, 62);
        --black: white;
        color: white
    }
}

/*rgb(43, 43, 46);*/
/*rgba(42,46,49,255);*/